.commonQuestions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  margin: 1.2rem 2rem 0 2rem;
}

.questionButton {
  text-align: left;
  padding: 8px 12px;
  background-color: #495057;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  font-size: 0.875rem;
  color: #f8f9fa;
  transition: all 0.2s;
  cursor: pointer;
}

.questionButton:hover {
  background-color: #343a40;
  border-color: #d1d5db;
}

@media (max-width: 65em) {
  .commonQuestions {
    grid-template-columns: 1fr 1fr;
    margin: 1.2rem 1.2rem 0 1.2rem;
  }
}

@media (max-width: 37em) {
  .commonQuestions {
    grid-template-columns: 1fr;
    margin: 1.2rem 0.5rem 0 0.5rem;
  }
}
